/* src/pages/CategoryPage/CategoryPage.css */

.product-image img {
    width: 100%;
    height: 180px;
    object-fit: contain; 
    margin-bottom: 10px;
}
.product-name {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin-bottom: 5px;
}
.product-price {
    color: var(--primary-red);
    font-weight: bold;
}
.product-item a {
    text-decoration: none; /* Xóa gạch chân ở tên và giá sản phẩm */
    color: inherit;        /* Ngăn chữ bị đổi sang màu xanh link mặc định */
}